<a href="https://colab.research.google.com/github/Munikumarnm/ABC-Classification/blob/main/ABC_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is ABC analysis

 
ABC analysis is product segmentation technique used in inventory management to give different priorities in handling inventory.  
A: High value items and the high service level is high  
B: Moderate value items  & the service level is medium or low  
C: Low value items & the service level is low

# How to do ABC analysis

We need minimum 1 year sales data of all the products which includes quantity sold & revenue generated per item.

Will download the practical data set from the Kaggle & then will classiffy the products in to ABC category

Note: Most of the solutions available on online are just a sample dataset. But in practical life, we will be having huge data set & data is not formated as well. To fill this gap, I'm going to use data which is availble in Kaggle and the tool used is python. Will provide the complete code as well, so that you can use it for own benefit.

In [ ]:

# Let's import the libraries required for the analysis
import pandas as pd # Pandas used for Data analysis, Data importing, exporting etc
import numpy as np  # NumPy is used for mathematical operatons

In [ ]:
# Lets use the e-commerce dataset  from kaggle- below is the link for dataset.  
#   kaggle datasets download -d carrie1/ecommerce-data

In [ ]:
# import the data
raw_data= pd.read_csv("/content/drive/MyDrive/data.csv.zip",encoding='unicode_escape')  
# there are some utf-8 (non text) in data so we need to use encoding= 'unicode_escape'

In [ ]:
raw_data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
# lets see the data period of the data by checking the min &max of InvoivceDate column
raw_data['InvoiceDate']= pd.to_datetime(raw_data['InvoiceDate'])
print(raw_data['InvoiceDate'].min(), raw_data['InvoiceDate'].max())

2010-12-01 08:26:00 2011-12-09 12:50:00

 From the above result we understood the data is from Dec'2010 to Dec'2011, 1 year data. This is good

In [ ]:
# Lets dropout unnecessary columns
data= raw_data[['StockCode','Description','Quantity','UnitPrice']]

In [ ]:
data['revenue']=data['Quantity']*data['UnitPrice']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data.head()

  StockCode                          Description  Quantity  UnitPrice  revenue
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6       2.55    15.30
1     71053                  WHITE METAL LANTERN         6       3.39    20.34
2    84406B       CREAM CUPID HEARTS COAT HANGER         8       2.75    22.00
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6       3.39    20.34
4    84029E       RED WOOLLY HOTTIE WHITE HEART.         6       3.39    20.34

In [ ]:
data_sumary= pd.pivot_table(data, index=['StockCode'],values=['revenue','Quantity'],aggfunc={'revenue':np.sum,'Quantity':np.sum})

In [ ]:
data_sumary.head()

           Quantity  revenue
StockCode
10002          1037   759.89
10080           495   119.09
10120           193    40.53
10123C          -13     3.25
10123G          -38     0.00

In [ ]:
n= [1,2,3,4]

TypeError: ignored

In [ ]:
[x/sum(x) for n]

[]